body{
    background: #e1b382;
    color: #080808;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
    filter: blur(5px);
    transform: translateX(-100%);
}

header {
    font-size: 2em;
    font-family: cursive;
    text-align: center;
    color: #fff;
    flex: 1;
    text-align: center;
}

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;  
    padding: 1em;
    margin: 3em;
    background: rgba(225, 179, 130, 0.6);
    border: 2px solid #000;
}

.back-to-top:hover {
    cursor: pointer;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
}

.navbar {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    right: 20px; 
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative; 
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #959988;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffffbf;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: #FBFCF8;
}

.navbar ul li:hover::after {
    content: '';
    height: 3px;
    width: 100%;
    background: #ffffbf;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

#canada h1{
    text-align: center;
    font-size: 45px;
}

#canada span{
    color: #FF2800;
}

.requirements{
    border: 1.5px solid #c89666;
    border-radius: 10px;
    background-color: #c89666;
    color: #12343b;
    font-size: 22px;
    flex: 1;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
}

.about{
    border: 1.5px solid #c89666;
    border-radius: 10px;
    background-color: #c89666;
    color: #12343b;
    font-size: 22px;
    flex: 1;
    margin-bottom: 20px;
    margin-right: 100px;
    font-family: "Playfair Display", serif;
}

.container img{
    margin-right: 100px;
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 50%;
    height: auto;
    object-fit: contain;
    max-height: 200px; 
    transition: 0.5s;
    width: 170px;
    height: 170px;
}

.nyu img{
    width: 300px;
    margin-left: -60px;
    margin-right: 40px;
}

.dartmouth img{
    width: 250px;
    margin-left: -40px;
    margin-right: 70px;
}

.yale img{
    width: 250px;
    margin-left: -40px;
    margin-right: 70px;
}

.brown img{
    width: 250px;
    margin-left: -40px;
    margin-right: 70px;
}

.western img{
    width: 250px;
    margin-left: -40px;
    margin-right: 70px;
}

.wesleyan img{
    width: 250px;
    margin-left: -40px;
    margin-right: 70px;
}

.container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#kazakhstan h1{
    text-align: center;
    font-size: 45px;
}

#kazakhstan span{
    color: #0080FE;
}

#us h1{
    text-align: center;
    font-size: 45px;
}

#us span{
    color: #0E4C92;
}

#uae h1{
    text-align: center;
    font-size: 45px;
}

#uae span{
    color: #FADA5E;
}






































@media (max-width: 768px) {
    header {
        font-size: 1.2em;
    }
    
    .container {
        flex-direction: column; 
        align-items: center;
    }
    
    .container img {
        max-width: 100%; 
        margin: 0; 
    }
    
    .about, .requirements {
        margin-right: 0; 
        margin-bottom: 10px; 
    }
    
    .nav {
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        position: relative;
    }

    .navbar {
        margin-top: 25%;
        position: static;
    }

    .navbar ul li {
        display: block;
        margin-left: 0;
        margin: 5px;
    }

    .navbar ul li a {
        font-size: 20px;
    }

    .navbar ul li::after {
        display: none;
    }
}






































.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2D545E;
}

.custom-shape-divider-top-1709494658 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1709494658 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 170px;
}

.custom-shape-divider-top-1709494658 .shape-fill {
    fill: #2D545E;
}     

.custom-shape-divider-bottom-1705295343 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1705295343 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 90px;
}

.custom-shape-divider-bottom-1705295343 .shape-fill {
    fill: #2D545E;
}